@font-face {
    font-family: 'puhui-regular';
    src: url("../public/font/AlibabaPuHuiTi-2-55-Regular.ttf");
}

@font-face {
    font-family: 'puhui-medium';
    src: url("../public/font/AlibabaPuHuiTi-2-65-Medium.ttf");
}

@font-face {
    font-family: 'puhui-sb';
    src: url("../public/font/AlibabaPuHuiTi-2-75-SemiBold.ttf");
}

body {
    margin: 0;
}

h1, h2, h3 {
    font-family: puhui-sb, 宋体, serif;
}

h3.title {
    font-family: puhui-sb, 宋体, serif;
}

h3.subtitle {
    font-family: puhui-regular, 宋体, serif;
}

* {
    font-family: puhui-sb, 宋体, serif;
}